importFrom("httr", "GET", "POST", "content", "add_headers", "verbose")
importFrom("jsonlite", "fromJSON")
importFrom("Hmisc", "cut2")
importFrom("GenomicFeatures", "makeTxDb", "transcripts")
import("sqldf")
import("S4Vectors")
exportClasses("MyGene")
export("MyGene")
export("getGene")
export("getGenes")
export("query")
export("queryMany")
export("makeTxDbFromMyGene")
exportMethods("metadata")
