importFrom("httr", "GET", "POST", "content", "add_headers")
importFrom("jsonlite", "fromJSON")
import("IRanges")
importFrom("Hmisc", "cut2")
importFrom("GenomicFeatures", "makeTranscriptDb", "transcripts")
import("sqldf")
exportClasses("MyGene")
export("MyGene")
export("getGene")
export("getGenes")
export("query")
export("queryMany")
export("metadata")
export("makeTranscriptDbFromMyGene")
