importFrom("httr", "GET", "POST", "content", "add_headers")
importFrom("jsonlite", "fromJSON")
import("IRanges") 
exportClasses("mygene")
export("mg.getgene")
export("mg.getgenes")
export("mg.query")
export("mg.querymany")
export("mg.metadata")
